@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.title {
  font-family: "poppins", sans-serif;
  margin: 2rem 0;
}

.loading-text,
.error-text {
  font-family: "poppins", sans-serif;
  font-size: 1rem;
}

.product-list {
  display: flex;
  padding: 0;
  gap: 2rem;
  justify-content: center;
  list-style: none;
}

.product-item {
  font-family: "poppins", sans-serif;
  padding: 0 2rem;
  border: 1px solid #fff;
}

.product-item h2 {
  margin: 1rem 0;
}

.product-item p {
  font-size: 1rem;
}
