.container-produtos ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-product {
  border-top: 2px solid #fff;
  width: 100%;
  padding-top: 32px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.loading-text,
.error-text {
  text-align: center;
}

.product {
  margin-bottom: 15px;
}

.btn-delete-produto {
  margin-left: 30px;
  font-size: 14px;
}
